.gallary-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 25px;
}
.image {
  height: 40%;
  width: 100%;
}
.main-heading {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 500;
  color: #1e293b;
}
.description {
  font-family: 'Roboto';
  font-size: 16px;
  color: #64748b;
}
.photos-list-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}
